<svg width="{{width}}" height="{{height}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <mask id="svgmask0">
    <polygon fill="#ffffff" points="{{0 * width / 1}} {{0 * height / 2}}, {{1 * width / 1}} {{0 * height / 2}}, {{1 * width / 1}} {{1 * height / 2}}, {{0 * width / 1}} {{1 * height / 2}}"></polygon>
  </mask>
  <mask id="svgmask1">
    <polygon fill="#ffffff" points="{{0 * width / 1}} {{1 * height / 2}}, {{1 * width / 1}} {{1 * height / 2}}, {{1 * width / 1}} {{2 * height / 2}}, {{0 * width / 1}} {{2 * height / 2}}"></polygon>
  </mask>
  <image xlink:href="{{image_0}}" mask="url(#svgmask0)" width="{{1 * width / 1}}" height="{{1 * height / 2}}" x="{{0 * width / 1}}" y="{{0 * height / 2}}"></image>
  <image xlink:href="{{image_1}}" mask="url(#svgmask1)" width="{{1 * width / 1}}" height="{{1 * height / 2}}" x="{{0 * width / 1}}" y="{{1 * height / 2}}"></image>
</svg>