build/*
PB/build/*
PB/include/Config.h
.vscode/*
.commit-check.yml
windows/EasyPhotoBook/EasyPhotoBook/obj/*
windows/EasyPhotoBook/.vs/*
windows/EasyPhotoBook/EasyPhotoBook/bin/*
windows/EasyPhotoBook/x64/*
windows/EasyPhotoBook/packages/*
windows/EasyPhotoBook/CppAdapter/obj/*
windows/EasyPhotoBook/CppAdapter/bin/*
windows/PhotobookUI/packages/*
windows/PhotobookUI/x64/*
windows/PhotobookUI/obj/*
windows/PhotobookUI/_build/*
windows/PhotobookUI/.vs/*
windows/PhotobookUI/Generated\ Files/*
windows/PhotobookUI/enc_temp_folder/*
windows/CppWinRTProjection/x64/*
windows/CppWinRTProjection/Generated\ Files/*
windows/CppProjection/obj/*
windows/CppProjection/bin/*
windows/PhotobookUI/bin/*
osx/PhotoBook/PhotoBook.xcodeproj/project.xcworkspace/xcuserdata/*
